<div class="mx-auto container mt-12">
  <Thead
    class="flex flex-row justify-center content-center font-extrabold text-lg p-2"
  >
    LISTA DE PRODUTOS
  </Thead>
  <button
    class="flex relative inset-x-3/4 efeito-vidro rounded-2xl font-extrabold text-lg p-2"
    (click)="clearAllProductsList()"
  >
    Apagar Lista
  </button>
  <table
    class="flex-row mx-auto text-sm text-left text-black dark:text-black mt-6 w-full"
  >
    <thead class="uppercase dark:text-black">
      <tr>
        <th scope="col" class="px-6 py-3 border-s-2 border-black">Id</th>
        <th scope="col" class="px-6 py-3 border-s-2 border-black text-center">
          Descrição
        </th>
        <th scope="col" class="px-6 py-3 border-s-2 border-black">Preço</th>
        <th scope="col" class="px-6 py-3 border-s-2 border-black">Unidade</th>
        <th scope="col" class="px-6 py-3 border-s-2 border-black">
          Quantidade em Estoque
        </th>
        <th scope="col" class="px-6 py-3 border-s-2 border-black">
          Fornecedor
        </th>
        <th scope="col" class="px-6 py-3 border-s-2 border-black">Situação</th>
      </tr>
    </thead>
    <tbody class="mp-10">
      <tr *ngFor="let product of productsList" class="dark:border-black">
        <th
          scope="row"
          class="px-6 py-4 font-medium text-black border-s-2 border-black dark:text-black mx-auto"
        >
          {{ product.id }}
        </th>
        <td class="px-6 border-s-2 border-black py-4">
          {{ product.description }}
        </td>
        <td class="px-4 border-s-2 border-black py-4">
          R$ {{ product.value }}
        </td>
        <td class="px-6 border-s-2 border-black py-4">
          {{ product.unitOfMeasurement }}
        </td>
        <td class="px-6 border-s-2 border-black py-4">
          {{ product.stockQuantity }}
        </td>
        <td class="px-6 border-s-2 border-black py-4">
          {{ product.provider }}
        </td>
        <td class="px-6 border-s-2 border-black py-4">
          {{ product.active }}
        </td>
        <button (click)="deleteItem(product.id)">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-8 h-8 mt-2 hover:fill-red-500"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M9.75 9.75l4.5 4.5m0-4.5l-4.5 4.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
            />
          </svg>
        </button>
      </tr>
    </tbody>
  </table>
  <br />
</div>
