<form (ngSubmit)="onSubmit()">
  <div>
    <label for="description">Descrição do Produto</label>
    <input
      type="text"
      name="description"
      id="description"
      [(ngModel)]="product.description"
      required
    />
  </div>

  <div>
    <label for="value">Valor do Produto</label>
    <input
      type="number"
      name="value"
      id="value"
      [(ngModel)]="product.value"
      required
    />
  </div>

  <div>
    <label for="unitOfMeasurement">Unidade de Medida</label>
    <select
      name="unitOfMeasurement"
      id="unitOfMeasurement"
      [(ngModel)]="product.unitOfMeasurement"
      required
    >
      <option value="UN">UN - Unidade</option>
      <option value="KG">KG - Quilograma</option>
      <option value="LT">LT - Litro</option>
    </select>
  </div>

  <div>
    <label for="provider">Fornecedor</label>
    <select
      name="provider"
      id="provider"
      [(ngModel)]="product.provider"
      required
    >
      <option *ngFor="let provider of providersList" [value]="provider.name">
        {{ provider.name }}
      </option>
    </select>
  </div>
  <div>
    <label for="active">Situação</label>
    <select name="active" id="active" [(ngModel)]="product.active" required>
      <option value="Ativo">Ativo</option>
      <option value="Inativo">Inativo</option>
    </select>
  </div>
  <button type="submit">Cadastrar</button>
</form>
